@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>
        <h2>Bem vindo ao Bom Aluno!</h2>
        <p>
            Esta aplicação possibilita organizar sua tarefas academicas de forma facil.
        </p>
    </div>
    
</div>